@mixin tag_new($color:$color-tertiary){
  position: absolute;
  top : 15px;
  right : 10px;
  padding: 7px;
  width: 80px;
  align-content: center;
  background-color: $color;
  color: darken($color, 35%);
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
}

@mixin tag_check($color:$color-tertiary){
  border-radius: 0 20px 20px 0;
  background-color: $color;
}
