@charset "UTF-8";
/*
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
violet : #9356DC
rose : #FF79DA
bleu : #99E2D0
logo coeur plein : <i class="fas fa-heart"></i>
*/
/*général*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

a, a::after, a:checked, a:visited {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

#restaurant, .menu {
  background-color: #F6F6F6;
}

.logo {
  font-family: "Shrikhand", cursive;
}

#restaurant, footer, .fonctionnement {
  padding: 20px;
}

div.details h3, #restaurant h4, .vignette h4 {
  font-weight: 400;
}

.container {
  background-color: #9356DC;
}

.fa-store {
  color: #9356DC;
}

.fa-mobile-alt, .fa-list-ul {
  color: #7e7e7e;
}

#loader {
  position: absolute;
  visibility: visible;
  top: 400px;
  margin: 0 auto;
  color: #99E2D0;
  font-size: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: spinner 1.3s 4 linear;
  animation: spinner 1.3s 4 linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes spinner {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes spinner {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
/*header*/
header img {
  width: 175px;
}

/*section présentation*/
.loc {
  background-color: #EAEAEA;
  box-shadow: inset 0px 5px 5px 0px #ccc;
  color: #2b2b2b;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loc h3 {
  font-size: 17px;
  font-weight: 500;
}

.loc, .place, .details, .explore {
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F6F6;
  padding-top: 50px;
  align-content: center;
}

.explore {
  border-radius: 30px;
  max-height: 60px;
  width: 210px;
  min-width: 30px;
  align-content: center;
  padding: 15px 10px;
  margin: 0 auto 50px auto;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(354deg, #9356dc 0%, #ff79da 100%);
}
.explore:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), linear-gradient(354deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}
.explore h4 {
  font-weight: 400;
  margin: 0;
}

.container {
  position: absolute;
  left: 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container span {
  font-size: 12px;
  color: white;
}

.container_xl {
  border-radius: 30px;
  height: 40px;
  width: 100%;
  padding: 15px 10px;
  margin: 10px 0;
  margin-left: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #F6F6F6;
}
.container_xl.highlight {
  background-color: #f2eafb;
}

div.fonctionnement div {
  display: flex;
  align-items: center;
}

div.fonctionnement h4, div.explore h4 {
  color: #fff;
}

.fas:not(.fa-heart) {
  padding: 0 15px;
}

/*section restaurants*/
.restaurant, .vignette {
  background: #FFFF;
  border-radius: 20px;
  box-shadow: 1px 1px 6px #ccc;
  margin: 20px 0px;
  position: relative;
}
.restaurant img, .vignette img {
  object-fit: cover;
  width: 100%;
  max-height: 154px;
  height: auto;
  overflow: hidden;
  border-radius: 18px 18px 0px 0px;
}
.restaurant .tag_new, .vignette .tag_new {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 7px;
  width: 80px;
  align-content: center;
  background-color: #99E2D0;
  color: #2c9c81;
  border-radius: 3px;
  text-align: center;
  font-weight: 500;
}

.text {
  padding: 15px;
  max-height: 140px;
  overflow: hidden;
  white-space: nowrap;
}
.text h3, .text h4 {
  text-overflow: ellipsis;
  overflow: hidden;
}

div.description .text {
  margin-right: 40px;
}
div.description .fa-heart {
  position: absolute;
  bottom: 70px;
  right: 20px;
}
div.description .fas.fa-heart {
  color: rgba(147, 86, 220, 0);
  overflow: hidden;
  transition: all 0.5s linear;
}
div.description a:hover .fas.fa-heart {
  color: #9356dc;
}

.vignette {
  display: flex;
  max-height: 155px;
}
.vignette:hover .tag_check {
  width: 60px;
}
.vignette:hover .fa-check-circle {
  transform: rotate(0deg);
}
.vignette .text {
  flex: 1;
  margin-right: 20px;
}
.vignette .tag_check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  width: 0px;
  transition: all 0.4s linear;
  text-align: center;
  overflow: hidden;
}
.vignette .fa-check-circle {
  color: white;
  transition: all 0.4s linear;
  transform: rotate(180deg);
}
.vignette span {
  position: relative;
  top: 56px;
  right: 20px;
}

/*section restaurant*/
/*section menu*/
#menu img {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  max-height: 500px;
}

.menu {
  border-radius: 40px 40px 0 0;
  padding: 10px 20px;
  position: relative;
  top: -50px;
}

.menu_header .fa-heart {
  position: absolute;
  right: 40px;
  top: 30px;
}
.menu_header .fas.fa-heart {
  color: rgba(147, 86, 220, 0);
  overflow: hidden;
  transition: all 0.5s linear;
}
.menu_header a:hover .fas.fa-heart {
  color: #9356dc;
}

div.line {
  border-top: solid 3.5px #99E2D0;
  width: 42px;
  height: 0px;
}

.vignette {
  animation: fadein 4s;
  margin-top: 0px;
  opacity: 0;
  animation-fill-mode: forwards;
}

.vignette1, .vignette2, .vignette3 {
  animation-delay: 0s;
}

.vignette4, .vignette5, .vignette6 {
  animation-delay: 1s;
}

.vignette7, .vignette8, .vignette9 {
  animation-delay: 1.5s;
}

@keyframes fadein {
  0% {
    margin-top: 30px;
    opacity: 0;
  }
  100% {
    margin-top: 10px;
    opacity: 1;
  }
}
/*footer*/
footer {
  width: auto;
  background-color: #353535;
  color: #fff;
}
footer .foot {
  display: flex;
  flex-direction: column;
}
footer .fas {
  padding-left: 0px;
}
footer a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  line-height: 2px;
}

/*# sourceMappingURL=style.css.map */
