$font-primary: 'Shrikhand';
$font-secondary: 'roboto';

$color-primary: #9356DC;//violet
$color-secondary: #FF79DA;// rose
$color-tertiary: #99E2D0;//bleu
$color-quaternary: #7e7e7e;//gris
$color-background-light: #F6F6F6;// gris clair
$color-background-dark: #EAEAEA;// gris foncé
$color-mix-primary-secondary: linear-gradient(354deg, rgba($color-primary, 1) 0%, rgba($color-secondary, 1) 100%);
